<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>11C45D02-7B1F-4746-B207-34FB0A77D641_details</key>
	<true/>
	<key>4A5C6C76-D38D-4C38-B7EE-6F7F575C1D65_details</key>
	<true/>
	<key>6FE21A51-A3B4-4964-9427-0C8B8435F8B7_details</key>
	<true/>
	<key>Battery_state</key>
	<false/>
	<key>Bluetooth_label_position</key>
	<integer>1</integer>
	<key>Bluetooth_position</key>
	<integer>6</integer>
	<key>Bluetooth_stack_position</key>
	<integer>0</integer>
	<key>Bluetooth_state</key>
	<false/>
	<key>Bluetooth_widget</key>
	<string></string>
	<key>CPU_barChart_position</key>
	<integer>2</integer>
	<key>CPU_label_position</key>
	<integer>4</integer>
	<key>CPU_lineChart_position</key>
	<integer>3</integer>
	<key>CPU_mini_alignment</key>
	<string>center</string>
	<key>CPU_mini_color</key>
	<string>utilization</string>
	<key>CPU_mini_label</key>
	<true/>
	<key>CPU_mini_position</key>
	<integer>0</integer>
	<key>CPU_notifications_systemLoad_state</key>
	<true/>
	<key>CPU_notifications_totalLoad_state</key>
	<true/>
	<key>CPU_notifications_userLoad_state</key>
	<true/>
	<key>CPU_pieChart_position</key>
	<integer>1</integer>
	<key>CPU_position</key>
	<integer>3</integer>
	<key>CPU_state</key>
	<true/>
	<key>CPU_tachometer_position</key>
	<integer>5</integer>
	<key>CPU_updateInterval</key>
	<integer>3</integer>
	<key>CPU_updateTopInterval</key>
	<integer>3</integer>
	<key>CPU_widget</key>
	<string>mini</string>
	<key>Clock_position</key>
	<integer>7</integer>
	<key>Clock_state</key>
	<false/>
	<key>CombinedModules</key>
	<false/>
	<key>CombinedModules_popup</key>
	<true/>
	<key>CombinedModules_spacing</key>
	<string>none</string>
	<key>Disk_barChart_position</key>
	<integer>4</integer>
	<key>Disk_disk</key>
	<string>macOS</string>
	<key>Disk_label_position</key>
	<integer>3</integer>
	<key>Disk_memory_color</key>
	<string>pressure</string>
	<key>Disk_memory_orderReversed</key>
	<false/>
	<key>Disk_memory_position</key>
	<integer>0</integer>
	<key>Disk_memory_symbols</key>
	<false/>
	<key>Disk_mini_position</key>
	<integer>2</integer>
	<key>Disk_networkChart_position</key>
	<integer>6</integer>
	<key>Disk_oneView</key>
	<false/>
	<key>Disk_pieChart_position</key>
	<integer>5</integer>
	<key>Disk_position</key>
	<integer>1</integer>
	<key>Disk_removable</key>
	<false/>
	<key>Disk_speed_downloadColor</key>
	<string>monochrome</string>
	<key>Disk_speed_icon</key>
	<string>none</string>
	<key>Disk_speed_mode</key>
	<string>twoRows</string>
	<key>Disk_speed_monochrome</key>
	<false/>
	<key>Disk_speed_position</key>
	<integer>1</integer>
	<key>Disk_speed_reverseOrder</key>
	<false/>
	<key>Disk_speed_units</key>
	<true/>
	<key>Disk_speed_uploadColor</key>
	<string>monochrome</string>
	<key>Disk_speed_value</key>
	<true/>
	<key>Disk_speed_valueAlignment</key>
	<string>center</string>
	<key>Disk_speed_valueColor</key>
	<string>constant</string>
	<key>Disk_state</key>
	<true/>
	<key>Disk_updateInterval</key>
	<integer>10</integer>
	<key>Disk_widget</key>
	<string>memory,speed</string>
	<key>GPU_barChart_position</key>
	<integer>3</integer>
	<key>GPU_gpu</key>
	<string>Radeon RX 5500 XT</string>
	<key>GPU_label_position</key>
	<integer>2</integer>
	<key>GPU_lineChart_position</key>
	<integer>1</integer>
	<key>GPU_mini_alignment</key>
	<string>center</string>
	<key>GPU_mini_color</key>
	<string>utilization</string>
	<key>GPU_mini_position</key>
	<integer>0</integer>
	<key>GPU_notifications_usage_state</key>
	<true/>
	<key>GPU_position</key>
	<integer>2</integer>
	<key>GPU_showType</key>
	<false/>
	<key>GPU_state</key>
	<true/>
	<key>GPU_tachometer_position</key>
	<integer>4</integer>
	<key>GPU_updateInterval</key>
	<integer>3</integer>
	<key>GPU_widget</key>
	<string>mini</string>
	<key>LaunchAtLoginNext</key>
	<true/>
	<key>NSNavLastRootDirectory</key>
	<string>~</string>
	<key>NSNavPanelExpandedSizeForSaveMode</key>
	<string>{800, 448}</string>
	<key>NSNavPanelExpandedStateForSaveMode</key>
	<true/>
	<key>NSStatusItem Preferred Position CPU</key>
	<real>616</real>
	<key>NSStatusItem Preferred Position CPU_mini</key>
	<real>464</real>
	<key>NSStatusItem Preferred Position Disk_memory</key>
	<integer>398</integer>
	<key>NSStatusItem Preferred Position Disk_speed</key>
	<integer>739</integer>
	<key>NSStatusItem Preferred Position GPU</key>
	<real>667</real>
	<key>NSStatusItem Preferred Position GPU_mini</key>
	<real>351</real>
	<key>NSStatusItem Preferred Position Network</key>
	<real>617</real>
	<key>NSStatusItem Preferred Position RAM</key>
	<real>565</real>
	<key>NSStatusItem Preferred Position RAM_mini</key>
	<real>692</real>
	<key>NSStatusItem Restore Position Disk_mini</key>
	<integer>450</integer>
	<key>NSStatusItem Restore Position Network_speed</key>
	<integer>722</integer>
	<key>NSToolbar Configuration eu.exelban.Stats.Settings.Toolbar</key>
	<dict>
		<key>TB Display Mode</key>
		<integer>1</integer>
		<key>TB Icon Size Mode</key>
		<integer>1</integer>
		<key>TB Is Shown</key>
		<true/>
		<key>TB Size Mode</key>
		<integer>1</integer>
	</dict>
	<key>NSWindow Frame NSNavPanelAutosaveName</key>
	<string>463 394 800 448 0 0 1776 974 </string>
	<key>Network_VPNMode</key>
	<false/>
	<key>Network_chartHistory</key>
	<integer>180</integer>
	<key>Network_chartScale</key>
	<string>none</string>
	<key>Network_label_position</key>
	<integer>4</integer>
	<key>Network_networkChart_position</key>
	<integer>2</integer>
	<key>Network_network_chart_box</key>
	<false/>
	<key>Network_network_chart_frame</key>
	<false/>
	<key>Network_network_chart_label</key>
	<false/>
	<key>Network_oneView</key>
	<true/>
	<key>Network_position</key>
	<integer>0</integer>
	<key>Network_reverseOrder</key>
	<false/>
	<key>Network_speed_downloadColor</key>
	<string>monochrome</string>
	<key>Network_speed_icon</key>
	<string>arrows</string>
	<key>Network_speed_iconAlignment</key>
	<string>left</string>
	<key>Network_speed_mode</key>
	<string>twoRows</string>
	<key>Network_speed_monochrome</key>
	<false/>
	<key>Network_speed_position</key>
	<integer>0</integer>
	<key>Network_speed_reverseOrder</key>
	<false/>
	<key>Network_speed_uploadColor</key>
	<string>monochrome</string>
	<key>Network_speed_valueColor</key>
	<string>constant</string>
	<key>Network_state</key>
	<true/>
	<key>Network_state_position</key>
	<integer>3</integer>
	<key>Network_text_position</key>
	<integer>1</integer>
	<key>Network_widget</key>
	<string>speed</string>
	<key>Network_widgetActivationThresholdState</key>
	<false/>
	<key>RAM_mini_alignment</key>
	<string>center</string>
	<key>RAM_mini_color</key>
	<string>utilization</string>
	<key>RAM_notifications_free_state</key>
	<true/>
	<key>RAM_notifications_total_state</key>
	<true/>
	<key>RAM_position</key>
	<integer>4</integer>
	<key>RAM_state</key>
	<true/>
	<key>RAM_updateInterval</key>
	<integer>3</integer>
	<key>RAM_updateTopInterval</key>
	<integer>3</integer>
	<key>Sensors_barChart_position</key>
	<integer>3</integer>
	<key>Sensors_label_position</key>
	<integer>2</integer>
	<key>Sensors_mini_position</key>
	<integer>1</integer>
	<key>Sensors_position</key>
	<integer>5</integer>
	<key>Sensors_stack_position</key>
	<integer>0</integer>
	<key>Sensors_state</key>
	<false/>
	<key>Sensors_widget</key>
	<string></string>
	<key>ble_ea-07-21-44-be-f6</key>
	<false/>
	<key>dockIcon</key>
	<false/>
	<key>macOS_file:///_usedSpace</key>
	<false/>
	<key>pause</key>
	<false/>
	<key>runAtLoginInitialized</key>
	<true/>
	<key>sensor_PCPR</key>
	<false/>
	<key>sensor_PSTR</key>
	<false/>
	<key>sensor_TC0E</key>
	<false/>
	<key>setupProcess</key>
	<true/>
	<key>telemetry</key>
	<false/>
	<key>telemetry_id</key>
	<string>B2403C4B-768A-44BF-AFCE-0200F804C3F3</string>
	<key>temperature_units</key>
	<string>celsius</string>
	<key>update-interval</key>
	<string>Once per month</string>
	<key>updater_check_ts</key>
	<integer>1733800930</integer>
	<key>version</key>
	<string>2.11.15</string>
</dict>
</plist>
